body {
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
    height: 55vw;
    padding: 2vw;
    background-color: white;
    overflow: hidden;
}

.logo {
    width: 8vw;
}

.logout {
    width: 2vw;
    float: right;
    margin-top: 5vw;
}

#name {
    margin-top: 5.5vw;
    margin-right: 1vw;
    float: right;
}

.box {
    width: 35vw;
    height: 43vw;
    margin-top: 2vw;
}

.vl {
    float: left;
    margin-left: 5vw;
    margin-top: 2vw;
    border-left: 0.1vw solid black;
    height: 35vw;
}

#password_div {
    margin-left: 25vw;
}

.block {
    border-radius: 25px;
    border: 0.1vw solid black;
    padding: 2vw;
    width: 31vw;
    height: 32vw;
}

#transaction {
    margin-top: 7vw;
}

.png {
    margin-top: 1vw;
    width: 9vw;
}

#text {
    margin-top: 6vw;
    margin-right: 3vw;
    float: right;
}

#text1 {
    margin-top: -0.5vw;
}

#money {
    float: right;
}

input[type=text], input[type=password] {
    width: 92%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#cancel {
    background-color: red;
    width: 20%;
    padding: 1vw 2vw;
    margin-left: 32vw;
    margin-right: auto;
    margin-top: -20vw;
}

#Edit {
    height: 40vw;
}
