body {
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
    height: 55vw;
    padding: 2vw;
    background-color: white;
    overflow: auto;
}

.logo {
    width: 8vw;
}

.logout {
    width: 2vw;
    float: right;
    margin-top: 5vw;
}

#name {
    margin-top: 5.5vw;
    margin-right: 1vw;
    float: right;
}

.box {
    width: 35vw;
    height: 43vw;
    margin: auto;
}

#searchBalk {
    margin-left: 20vw;
    margin-top: 2vw;
}

.block {
    border-radius: 25px;
    border: 0.1vw solid black;
    padding: 2vw;
    width: 31vw;
    height: auto;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

#text1 {
    margin-top: -0.5vw;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    height: auto;
}

input.search {
    width: 30vw;
    margin-left: 2.6vw;
    font-size: 1.2em;
    padding: 0.1vw 0.5vw;
    background: #f1f1f1;
    border-color: #1f1f1f;
    border-style: solid;
    border-width: 1px;
}

input.search:focus {
    background-color: #ddd;
    outline: none;
}

input.submit {
    font-size: 1.2em;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 5vw;
    padding: 0.1vw;
    cursor: pointer;
    opacity: 0.9;
}

input.submit:hover {
    opacity: 1;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5vw 0.5vw;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
