body {
    background: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    max-width: 80vw;
    height: 55vw;
    padding: 2vw;
    background-color: white;
    overflow: hidden;
}

.logo {
    width: 8vw;
}

.logout {
    width: 2vw;
    float: right;
    margin-top: 5vw;
}

#name {
    margin-top: 5.5vw;
    margin-right: 1vw;
    float: right;
}

.box {
    width: 35vw;
    height: 32vw;
    margin-top: 2vw;
}

.vl {
    float: left;
    margin-left: 5vw;
    margin-top: 2vw;
    border-left: 0.1vw solid black;
    height: 43vw;
}

#accounts {
    float: right;
}

#info {
    float: left;
}

.block {
    border-radius: 25px;
    border: 0.1vw solid black;
    padding: 2vw;
    width: 31vw;
    height: 10vw;
}

.block1 {
    border-radius: 25px;
    border: 0.1vw solid black;
    padding: 2vw;
    width: 31vw;
    height: 32vw;
}

.scrollTransaction {
    overflow: auto;
    height: 28vw;
}

.transactions {
    border-radius: 25px;
    border: 0.1vw solid black;
    padding: 1vw;
    width: 27vw;
    height: 10vw;
    margin-bottom: 1vw;
}

#transaction {
    margin-top: 7vw;
}

.png {
    margin-top: 1vw;
    width: 9vw;
}

#text {
    margin-top: 6vw;
    margin-right: 3vw;
    float: right;
}

#text1 {
    margin-top: -0.5vw;
}

#moneySaving {
    float: right;
}

#moneyChecking {
    float: right;
}
